<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Application ToolBar</span>

    <span class="example-spacer"></span>

    <button mat-button>About</button>
    <button mat-button>Service</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card>
  <mat-form-field>
    <input matInput [(ngModel)]="answer" placeholder="Username or Email">
  </mat-form-field>

  <br>

  <button mat-raised-button (click)="getProducts()">Get links</button>
  <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> 
</mat-card>

<mat-card *ngIf="answerDisplay">
  <h1>{{answerDisplay}}</h1>
</mat-card>




